section:first-of-type {
  & {
    padding: 96px 0px;
  }

  p, h1 {
    margin-bottom: 24px;
  }

  p:nth-of-type(1) {
    width: 82px;
    height: 28px;
    color: #6941C6;
    border-radius: 16px;
    background-color: #F9F5FF;
  }

  h1 {
    font: {
      family: "Inter", sans-serif;
      weight: 600;
      size: 48px;
    };
    line-height: 60px;
    color: #42307D;
    letter-spacing: -2%;
  }

  p:nth-of-type(2) {
    font: {
      family: "Inter", sans-serif;
      weight: 400;
      size: 20px;
    };
    line-height: 30px;
    color: #6941C6;
  }

  div.input-group {
    & {
      width: 320px;
      height: 48px;
    }

    svg-icon {
      z-index: 6;
      left: 20px;
    }

    input[type="text"] {
      & {
        padding-left: 35px;
        border-radius: 8px !important;
      }

      ::-ms-input-placeholder { /* Edge 12-18 */
        line-height: 24px;
        font: {
          family: "Inter", sans-serif;
          weight: 400;
          size: 16px;
        };
      }

      ::placeholder {
        line-height: 24px;
        font: {
          family: "Inter", sans-serif;
          weight: 400;
          size: 16px;
        };
        color: #667085;
      }
    }
  }
}

section:nth-of-type(2) {
  .container {
    & {
      margin-bottom: 32px;
    }

    div[class^="col-"] {
      & {
        width: 384px;
        height: 580px;
     // padding: 24px, 24px, 32px, 24px;
        padding: {
          top: 24px;
          left: 24px;
          right: 24px;
        };
        cursor: pointer;
        margin-bottom: 32px;
        box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08);
      }
    }

    button {
        width: 150px;
        height: 48px;
        padding: 12px, 20px, 12px, 20px;
        border: 1px;
        background-color: #F9F5FF;
        border-radius: 8px;
        font: {
          family: "Inter", sans-serif;
          weight: 500;
          size: 16px;
        };
        color: #6941C6;
    }
  }
}

@media only screen and (max-width: 767px) {
  section:first-of-type  div.input-group input[type="text"], section:nth-of-type(2) .container button {
    width: 343px;
  }
}

@media only screen and (max-width: 383px) {
  section:nth-of-type(2) .container div[class^="col-"] {
    width: 90%;
  }
}

@media only screen and (max-width: 342px) {
  section:nth-of-type(2) .container button {
    width: 90%;
  }
}

